@use '../styles/_variables.scss' as *;
@use 'sass:color';

.boton{
    border-radius: 0.5rem;
    font-weight:600;
    font-size:0.9rem;
    padding: 0.5rem 1rem;
    border:none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    transition: all 0.3s ease;


    &:disabled{
        opacity: 0.5;
        cursor: not-allowed;
    }

}

.botonPrimario{
    border: solid 1px $autoequipe-blue;
    background-color: white;
    color: $autoequipe-blue;

    &:hover:not(:disabled){
        background-color: color.adjust($autoequipe-blue, $lightness: -10%);
        color: white;
    }
}

.botonSecundario{
    border: solid 1px $autoequipe-yellow;
    background-color: white;
    color: $autoequipe-yellow;

    &:hover:not(:disabled){
        background-color: color.adjust($autoequipe-yellow, $lightness: -10%);
        color: white;
    }
}

.botonDanger{
    border: solid 1px #dc3545;
    background-color: white;
    color: #dc3545;

    &:hover:not(:disabled){
        background-color: color.adjust(#dc3545, $lightness: -10%);
        color: white;
    }
}

.botonCarrito {
    font-size: 1.5rem;
    color: $autoequipe-blue;
    background-color: transparent;
}