@import '../styles/_variables.scss';

.nav-container {
  background-color: white;
  border: whitesmoke 1px solid;
  padding: 2rem;
  display: flex;
    justify-content: space-between;
  overflow: hidden;
}

.nav-item {
  color: $autoequipe-blue;
  text-decoration: none;
  margin: 0 1rem;
  font-size: 1.2rem;
  transition: color 0.3s ease;
}

.logo {
  width: 10rem;
}